PORT=3303
DATABASE_URL=
MONGODB_URL=
# Example with auth (database: dsa_tracker):
# MONGODB_URL="mongodb://USERNAME:PASSWORD@localhost:27017/dsa_tracker?authSource=admin"
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
